### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### General Java ###
*.class
*.jar
*.war
*.ear

### Logs ###
*.log

### Gradle ###
.gradle/
build/

### Maven ###
target/

### Temporary Files ###
*.tmp
*.swp

### Test Output ###
test-output/
.coverage/

### Operating System ###
Thumbs.db
